@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.legibility {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --visible-light: block;
  --visible-dark: none;
  --text-secondary: #606060;
  --text-hl: #1976d2;

  /* borders */
  --line: #0000001f;

  /* backgrounds */
  --bg-base: #fff;
  --bg-primary: #fff;
  --bg-secondary: rgb(245, 245, 245);
  --bg-backdrop: transparent;
  --img-filter: brightness(1) contrast(1) saturate(1) hue-rotate(0deg);
}

:root[data-theme="dark"] {
  --visible-light: none;
  --visible-dark: block;
  --text-secondary: #aaaaaa;
  --text-hl: #29b6f6;

  /* borders */
  --line: oklab(0.556 0 0 / 0.2);

  /* backgrounds */
  --bg-base: #1a1a1a;
  --bg-primary: rgb(42, 42, 42);
  --bg-secondary: #1a1a1a;
  --bg-backdrop: rgba(0, 0, 0, 0.5);
  --img-filter: brightness(0.5) contrast(1.1) saturate(0.8) hue-rotate(10deg);
}

.night-filter {
  filter: var(--img-filter);
}

.prose-auto {
  @apply prose;
}

:root[data-theme="dark"] {
  .prose-auto {
    @apply prose prose-invert;
  }
}

.visible-light {
  display: var(--visible-light);
}
.visible-dark {
  display: var(--visible-dark);
}
.text-secondary {
  color: var(--text-secondary);
}

.lexend-400 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-500 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lexend-600 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.hero {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  background-image: url("https://pub-04fc8b0f269346dc866259c95ea2ff25.r2.dev/talo-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.backdrop {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  background: var(--bg-backdrop);
  z-index: -1;
}
